<h1>Links#index</h1>



<%= link_to "Sign Up", new_user_path %>
<br>
<%= link_to "Login", new_session_path %>
<br>
<%= link_to "Logout", logout_path, method: :delete %>
<br>



<%= form_for(@link) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :url %>
  <%= f.password_field :url %>

  <%= f.submit "Add Link" %>
<% end %>


